@import "spinkit/spinkit.css";
.bs5-dialog-msg {
  position: fixed;
  padding: 1rem;
  border-radius: 0.2rem;
  z-index: 9999;
  font-size: 0.75rem;
  opacity: 1;
  animation-name: bs5MsgBoxShow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  min-width: 8rem;
  text-align: center;
}

.bs5-dialog-msg-hide {
  animation-name: bs5MsgBoxHide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes bs5MsgBoxShow {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bs5MsgBoxHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.bs5-dialog-msg-top-left {
  top: 20px;
  left: 20px;
  transform: none;
}

.bs5-dialog-msg-top-right {
  top: 20px;
  right: 20px;
  transform: none;
}

.bs5-dialog-msg-bottom-left {
  bottom: 20px;
  left: 20px;
  transform: none;
}

.bs5-dialog-msg-bottom-right {
  bottom: 20px;
  right: 20px;
  transform: none;
}

.bs5-dialog-msg-top {
  top: 20px;
  left: calc(50% + 20px);
  transform: translateX(-50%);
}

.bs5-dialog-msg-bottom {
  bottom: 20px;
  left: calc(50% + 20px);
  transform: translateX(-50%);
}

.bs5-dialog-msg-left {
  top: calc(50% + 20px);
  left: 20px;
  transform: translateY(-50%);
}

.bs5-dialog-msg-right {
  top: calc(50% + 20px);
  right: 20px;
  transform: translateY(-50%);
}

.bs5-dialog-msg-center {
  top: calc(50% + 20px);
  left: calc(50% + 20px);
  transform: translate(-50%, -50%);
}

/*..*/

/* loading动画样式 */
.bs5-modal-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.bs5-modal-spinner {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: var(--sk-color);
  border-radius: 50%;
  width: var(--sk-size);
  height: var(--sk-size);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



.modal-content .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  z-index: 10
}

.modal-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #616876;
  border-radius: 8px 8px 0 0
}

.modal-footer .btn-default{border: 1px solid #eaeaea;}